.header-text {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.4rem;
}

p {
    font-family: 'Turret Road', cursive;
}

.instruction {
    font-family: 'Press Start 2P', cursive;
    font-size: .7rem;
}

.gifs {
    cursor: pointer; 
}


/* ----
font-family: 'Press Start 2P', cursive;
font-family: 'Turret Road', cursive;
font-family: 'Notable', sans-serif;
font-family: 'Squada One', cursive;
---- */